@model OnlineShop.Models.Producer
@{
    ViewBag.Title = "ManageProducer";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
}

<h4>@Html.ActionLink("ManageProducer", "Index") > Delete</h4>
<div class="card shadow">
    <div class="card-body">
        <h4 class="card-title">Producer informationt</h4>
        <hr />
        <div class="row ">
            <label class="col-sm-2 col-form-label font-weight-bold">@Html.DisplayNameFor(model => model.ProducerID)</label>
            <div class="col-sm-6 col-form-label">@Html.DisplayFor(model => model.ProducerID)</div>
        </div>
        <div class="row ">
            <label class="col-sm-2 col-form-label font-weight-bold">@Html.DisplayNameFor(model => model.ProducerName)</label>
            <div class="col-sm-6 col-form-label">@Html.DisplayFor(model => model.ProducerName)</div>
        </div>
        <div class="row ">
            <label class="col-sm-2 col-form-label font-weight-bold">@Html.DisplayNameFor(model => model.About)</label>
            <div class="col-sm-6 col-form-label">@Html.DisplayFor(model => model.About)</div>
        </div>
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-4">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <input type="submit" value="Delete" class="btn btn-sm btn-primary font-weight-bold w-25" />
                    @Html.ActionLink("Return", "Index", null, htmlAttributes: new { @class = "btn btn-sm btn-secondary font-weight-bold w-25" })
                }
            </div>
        </div>

    </div>
</div>

